aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
chardet==4.0.0
idna==3.3
multidict==6.0.2
numpy==1.22.3
torch==1.11.0
typing-extensions==4.1.1
yarl==1.7.2
git+https://github.com/Rapptz/discord.py.git#egg=discord-py
loguru~=0.6.0
peewee~=3.14.10
PyNaCl
cython
git+https://github.com/aaiyer/rfoo.git